<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div id="element1">
          <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
        </div>
        <div class="flip-card-back">
          <div id="element2">
            <img src="/assets/Y2.png" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
