.link-after {
  content: "";
  display: block;
  height: 0.15em;
  background: $primary;
}

.nav-link,
.navbar-brand {
  &::after {
    @extend .link-after;
    width: 0;
    transition: width 0.35s;
  }

  &:hover::after {
    width: 100%;
  }
}

.nav-item.active {
  font-weight: bold;

  &::after {
    @extend .link-after;
    width: 100% !important;
    text-align: right;
  }
}

.navbar-icon {
  vertical-align: middle;
  margin: 0px 16px;
}

.navbar-brand {
  margin-bottom: -3px;
  &::after {
    margin-top: -0.25em;
  }
}
