@mixin themed($property, $light-value, $dark-value) {
  [data-theme="light"] & {
    #{$property}: $light-value;
  }

  [data-theme="dark"] & {
    #{$property}: $dark-value;
  }
}


#theme-toggler:before {
  @include themed(content, "🌙", "🌞");
}
 
.navbar-themed {
  .navbar-icon {
    @include themed(filter, invert(100%), invert(0%));
  }
  .navbar-brand,
  .navbar-nav .nav-link.active {
    @include themed(color, $text-black, $text-white);
  }

  .navbar-nav .nav-link {
    @include themed(color, rgba($text-black, 0.5), rgba($text-white, 0.5));
  }
}

.text-themed {
  @include themed(color, $text-black, $text-white);
}

.bg-themed {
  @include themed(background-color, $light, $dark);
}

.gradient-bg-themed {
  background:
          linear-gradient(0deg, rgba(var(--gradient-color), 0.5) 0%,  rgba(var(--gradient-color), 0) 100%);
  background-blend-mode: normal;
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-position-y: 500px;
}
