<div class="col mt-4">
  <div class="timeline-body bg-themed">
    {% for item in site.data.timeline %}
      <div class="timeline-item">
        <div class="content">
          <div style="float: start;vertical-align: baseline;position: relative;margin-right: 15px;margin-left: 5px;margin-block-end: 10px;margin-top: -6px;" class="image-cropper">
            <img src="{{ item.icon }}" class="rounded" alt="" />
          </div>
          <h2>{{ item.name }}</h2>
          <hr>
          <h4>{{ item.title }}</h4>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
          <p>{{ item.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>